@charset "utf-8";

html {}

body {}


/*ここまで*/
/* header */
header {
    background: #186AC9;
    width: 100%;
    display: flex;
}

#header-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

/* トップのロゴ */
.atlas {
    width: 100px;
    margin: 20px;
}

.atlas img {
    width: 100%;
}

#user {
    display: flex;
}

.user-name {
    color: #f7ecf7;
    font-size: 20px;
}

.menu_outer {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.menu_index {
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #f7ecf7;
    border: solid 1px;
    cursor: pointer;
    color: #727272;
    font-size: 30px;
}

.menu_container {
    width: 100%;
    border: solid 1px;
    border-top: none;
    background-color: lightcyan;
    position: relative;
    z-index: 1;
    transition: .4s;
    opacity: 0;
}

.menu_container li {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border: solid .5px;
}

/*メニューにマウスが乗った時の変化(擬似クラスhover)*/
.menu_container li:hover {
    color: #f7ecf7;
    background-color: #0d2879;
}

.toggle_btn {
    position: relative;
    width: 1rem;
    height: 1rem;
}

/*アコーディオンメニューボタン*/
.toggle_btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transition: .3s;
}

.toggle_btn.active::before {
    transform: translateX(-10px);
    opacity: 0;
}

/*アコーディオンメニューボタン*/
.toggle_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transform: rotate(90deg);
    transition: .3s;
}

.toggle_btn.active::after {
    transform: rotate(0deg);
}

/*アイコン画像*/
/*.icon {
    position: absolute;
    right: 0;
}*/


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*投稿フォーム index.blade*/

/*アイコン*/
.icon1-image {
    width: 50px;
}
/*投稿ボタン*/
.pull-right {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.post-image {
    width: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;

}
/*投稿テキスト*/
.post-text {
    border: none;
    opacity: 0.3;
}

.modal {
    display: none;
    /* デフォルトで非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
